docs/workflows/n8n/daily-health-report.json
{
  "name": "Daily Health and Cost Report",
  "nodes": [
    {
      "id": "c3d4e5f6-0001-4000-8000-000000000001",
      "name": "Cron Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] },
        "triggerTimes": { "item": [{ "mode": "everyDay", "hour": 8, "minute": 0 }] }
      },
      "notesInFlow": true,
      "notes": "Asia/Bangkok 08:00 daily. Set timezone in workflow settings."
    },
    {
      "id": "c3d4e5f6-0002-4000-8000-000000000002",
      "name": "OpenClaw Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:18789/healthz",
        "options": { "timeout": 5000 }
      },
      "onError": "continueErrorOutput",
      "continueOnFail": true
    },
    {
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Ollama Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "parameters": {
        "method": "GET",
        "url": "http://100.82.51.31:11434/api/tags",
        "options": {
          "timeout": 10000,
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "onError": "continueErrorOutput",
      "continueOnFail": true
    },
    {
      "id": "c3d4e5f6-0004-4000-8000-000000000004",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [580, 300],
      "parameters": { "mode": "combine", "combineBy": "multiplex" }
    },
    {
      "id": "c3d4e5f6-0006-4000-8000-000000000006",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const gateway = $('OpenClaw Health').first();\nconst ollama = $('Ollama Tags').first();\nconst gwOk = gateway?.json !== undefined && !gateway.json?.error;\nconst models = ollama?.json?.models || [];\nconst report = `📊 Daily Health Report\\n` +\n  `Gateway: ${gwOk ? '✅ OK' : '❌ Unreachable'}\\n` +\n  `Ollama (ryzenpc): ${models.length} model(s) available\\n` +\n  (models.length ? `Models: ${models.map(m => m.name).join(', ').slice(0, 200)}...` : '');\nreturn [{ json: { report, gatewayOk: gwOk, modelCount: models.length } }];"
      }
    },
    {
      "id": "c3d4e5f6-0005-4000-8000-000000000005",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TG_NOTIFICATION_CHAT_ID }}",
        "text": "={{ $json.report }}"
      },
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CREDENTIAL_ID", "name": "Telegram account" }
      }
    }
  ],
  "connections": {
    "Cron Daily 08:00": {
      "main": [
        [
          { "node": "OpenClaw Health", "type": "main", "index": 0 },
          { "node": "Ollama Tags", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenClaw Health": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Ollama Tags": { "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]] },
    "Merge Results": { "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]] },
    "Format Report": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Bangkok" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
