docs/workflows/n8n/document-processing-pipeline.json
{
  "name": "Document Processing Pipeline",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Watch Folder",
      "type": "n8n-nodes-base.filesTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "triggerOn": "folder",
        "watchFolder": "/home/node/.n8n/data/watch",
        "fileExtension": "txt,md,pdf",
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Mount host path to container: e.g. /home/teaingtit/projects/SAIN/data -> /home/node/.n8n/data/watch"
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": { "filePath": "={{ $json.path }}" }
    },
    {
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": { "operation": "extractFromBinary", "binaryPropertyName": "data" }
    },
    {
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const text = $input.first().json.text || $input.first().json.data?.toString() || '';\nconst chunkSize = 512;\nconst overlap = 50;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize - overlap) {\n  chunks.push(text.slice(i, i + chunkSize));\n}\nreturn chunks.map((c, i) => ({ json: { chunk_index: i, text: c } }));"
      }
    },
    {
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Ollama Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "http://100.82.51.31:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"input\": $json.text\n}",
        "options": {
          "timeout": 60000,
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      }
    },
    {
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Count Embedded Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 300],
      "parameters": {
        "jsCode": "const embeddedChunks = $input.all().length;\nreturn [{ json: { embeddedChunks } }];"
      }
    },
    {
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Force Unload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300],
      "parameters": {
        "method": "POST",
        "url": "http://100.82.51.31:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \".\",\n  \"keep_alive\": 0\n}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1620, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TG_NOTIFICATION_CHAT_ID }}",
        "text": "={{ 'Document ingestion complete. Chunks embedded: ' + ($json.embeddedChunks ?? 0) }}"
      },
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CREDENTIAL_ID", "name": "Telegram account" }
      }
    }
  ],
  "connections": {
    "Watch Folder": { "main": [[{ "node": "Read Binary File", "type": "main", "index": 0 }]] },
    "Read Binary File": { "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]] },
    "Extract Text": { "main": [[{ "node": "Chunk Text", "type": "main", "index": 0 }]] },
    "Chunk Text": { "main": [[{ "node": "Ollama Embed", "type": "main", "index": 0 }]] },
    "Ollama Embed": { "main": [[{ "node": "Count Embedded Chunks", "type": "main", "index": 0 }]] },
    "Count Embedded Chunks": { "main": [[{ "node": "Force Unload", "type": "main", "index": 0 }]] },
    "Force Unload": { "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "maxConcurrency": 1 },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
